In [2]:
import pandas as pd
import numpy as np
import json
import pycountry
import pycountry_convert as pc

In [3]:
ip_to_location = pd.read_csv('/home/kin672/gentb-summer22/Geography/ip_to_location_EXTENDED.csv')
uuid_to_ip = pd.read_csv('/home/kin672/gentb-summer22/Geography/uuid_to_ip.csv')
uuid_to_folder_temp = pd.read_csv('/home/kin672/gentb-summer22/Geography/uuid_to_folder.csv', header = None)
with open('/home/kin672/gentb-summer22/Isolating Relevant Files/7-18 Output/relevant_file_names_7-18.json') as f:
    folder_to_isolate = json.load(f)

In [4]:
# Properly transpose the folder-to-isolate converter so that there is one column of isolates and another of folders
folder_to_isolate = pd.DataFrame(folder_to_isolate).transpose().reset_index()[['index', 'Folder']]
folder_to_isolate.columns = ['Isolate', 'Folder']

In [5]:
# Pull only the unique uuids
valid_uuids = uuid_to_ip[uuid_to_ip['uuid'] != 'No UUID'].drop_duplicates().reset_index(drop = True)

In [6]:
# Drop any uuids that don't have an associated ip address with valid location
valid_uuids = valid_uuids[[ip in ip_to_location.ip.unique() for ip in valid_uuids.ip]].reset_index(drop = True)

In [7]:
valid_uuids['location'] = [ip_to_location.loc[ip_to_location['ip'] == ip, 'location'].values[0] for ip in valid_uuids.ip]
valid_uuids['City'] = [ip_to_location.loc[ip_to_location['ip'] == ip, 'City'].values[0] for ip in valid_uuids.ip]
valid_uuids['State/Region'] = [ip_to_location.loc[ip_to_location['ip'] == ip, 'State/Region'].values[0] for ip in valid_uuids.ip]
valid_uuids['Country'] = [ip_to_location.loc[ip_to_location['ip'] == ip, 'full_country'].values[0] for ip in valid_uuids.ip]
valid_uuids['Continent'] = [ip_to_location.loc[ip_to_location['ip'] == ip, 'Continent'].values[0] for ip in valid_uuids.ip]

In [8]:
valid_uuids

,uuid,ip,location,City,State/Region,Country,Continent
0,19a418d29fc4a8cf3fe6c4761cf38151,145.255.74.252,"Muscat, Muscat, OM",Muscat,Muscat,Oman,Asia
1,9b809c212cd12a0b0b85baafc6cb3183,207.46.13.151,"Quincy, Washington, US",Quincy,Washington,United States,North America
2,cc1b05e1e3e851a6a07499fade4000de,14.139.61.232,"Nāngloi Jāt, Delhi, IN",Nāngloi Jāt,Delhi,India,Asia
3,b4b415d0b43047b84b1fa5d8de9ff04e,14.139.45.242,"Delhi, Delhi, IN",Delhi,Delhi,India,Asia
4,f09686a135dbd9a5380a5057fed51a9f,146.232.173.49,"Stellenbosch, Western Cape, ZA",Stellenbosch,Western Cape,South Africa,Africa
5,a39ad87c9ed3e4a215dae07bd9d2f0d7,40.77.167.28,"Boydton, Virginia, US",Boydton,Virginia,United States,North America
6,3f8d4e743556559eaf9c81df0c50c05f,87.179.127.108,"Leipzig, Saxony, DE",Leipzig,Saxony,Germany,Europe
7,1036c80a228a9dbbd905f2474f1d666a,152.118.231.242,"Jakarta, Jakarta, ID",Jakarta,Jakarta,Indonesia,Asia
8,bad1668f507742b459674d17134cb48d,146.232.173.49,"Stellenbosch, Western Cape, ZA",Stellenbosch,Western Cape,South Africa,Africa
9,bad1668f507742b459674d17134cb48d,40.94.85.14,"Johannesburg, Gauteng, ZA",Johannesburg,Gauteng,South Africa,Africa
10,1036c80a228a9dbbd905f2474f1d666a,152.118.231.210,"Jakarta, Jakarta, ID",Jakarta,Jakarta,Indonesia,Asia
11,e5ed64bec7fa1d43d78c8acf8cfe614f,146.232.173.49,"Stellenbosch, Western Cape, ZA",Stellenbosch,Western Cape,South Africa,Africa
12,e5ed64bec7fa1d43d78c8acf8cfe614f,20.87.33.208,"Johannesburg, Gauteng, ZA",Johannesburg,Gauteng,South Africa,Africa
13,6637a3379b35572d8e592ee862052cb6,79.201.117.195,"Northeim, Lower Saxony, DE",Northeim,Lower Saxony,Germany,Europe
14,9fd46a1201d4bda4c147d4cdafd06128,145.255.74.252,"Muscat, Muscat, OM",Muscat,Muscat,Oman,Asia
15,74b837ed9c9ca5d2e7ab9634c7d0887d,145.255.74.252,"Muscat, Muscat, OM",Muscat,Muscat,Oman,Asia
16,bc582759d5e8f738e6054693b6137d45,46.30.132.239,"Helsinki, Uusimaa, FI",Helsinki,Uusimaa,Finland,Europe
17,3080fc3818ef4b41fa0ea71c198c1bac,145.255.74.252,"Muscat, Muscat, OM",Muscat,Muscat,Oman,Asia
18,bc582759d5e8f738e6054693b6137d45,209.6.188.130,"Boston, Massachusetts, US",Boston,Massachusetts,United States,North America
19,4b79681f5b33486fc69646f8e078f5e8,46.30.132.239,"Helsinki, Uusimaa, FI",Helsinki,Uusimaa,Finland,Europe
20,ee5c533e80721e0c3f97762fd139719d,185.191.171.19,"Washington, D.C., US",Washington,D.C.,United States,North America
21,ee5c533e80721e0c3f97762fd139719d,185.191.171.44,"Washington, D.C., US",Washington,D.C.,United States,North America
22,0136bbca05e73846b325a0397bbb796e,180.94.34.95,"Allahābād, Uttar Pradesh, IN",Allahābād,Uttar Pradesh,India,Asia
23,356e4a4a294a63227feea9fabcf85a41,145.255.74.252,"Muscat, Muscat, OM",Muscat,Muscat,Oman,Asia
24,1f853f3463e880b26d796b9f7b0f85ec,145.255.74.252,"Muscat, Muscat, OM",Muscat,Muscat,Oman,Asia
25,81c5664135463aa7a3a566c26a11f540,145.255.74.252,"Muscat, Muscat, OM",Muscat,Muscat,Oman,Asia
26,629c20fa6465605ed3cf7bb89277991a,157.55.39.105,"Quincy, Washington, US",Quincy,Washington,United States,North America
27,81c5664135463aa7a3a566c26a11f540,69.43.88.101,"Boston, Massachusetts, US",Boston,Massachusetts,United States,North America
28,620f23d11bc75b255a859e8458a5ef20,157.55.39.105,"Quincy, Washington, US",Quincy,Washington,United States,North America
29,31eed51a42b4906e0f2ede82e0b46072,134.58.179.241,"Leuven, Flanders, BE",Leuven,Flanders,Belgium,Europe
30,07dff4bb1c59eb525c653562cd8d4ba2,40.77.167.65,"Boydton, Virginia, US",Boydton,Virginia,United States,North America

In [87]:
valid_uuids.to_csv('/home/kin672/gentb-summer22/Geography/uuid_to_location.csv', index = False)

In [9]:
uuid_to_folder_temp['folder'] = uuid_to_folder_temp.iloc[:, 1].str.split('/', expand = True)[5]
uuid_to_folder_temp.columns = ['index', 'full_folder', 'uuid', 'folder']
uuid_to_folder = uuid_to_folder_temp[['uuid', 'folder']]

In [10]:
uuid_to_folder

                                 uuid           folder
0    4b79681f5b33486fc69646f8e078f5e8  tbdata_00001452
1    bc582759d5e8f738e6054693b6137d45  tbdata_00001451
2    74b837ed9c9ca5d2e7ab9634c7d0887d  tbdata_00001450
3    9fd46a1201d4bda4c147d4cdafd06128  tbdata_00001449
4    6637a3379b35572d8e592ee862052cb6  tbdata_00001448
..                                ...              ...
975  8e7ab873fc567031fdb8b23669a8abb1  tbdata_00000284
976  77033e7b913241d29f4dfd3d8145f097  tbdata_00000213
977  c6d25e9ada67c2dd4b302f60fa54af58  tbdata_00000212
978  b502c113d81c3700dd90568a13b0689e  tbdata_00000211
979  1d5dc6b997f73abbc378e95c7ecb2c59  tbdata_00000210

[980 rows x 2 columns]

In [11]:
isolate_to_uuid = folder_to_isolate[['Isolate', 'Folder']]
isolate_to_uuid['uuid'] = [uuid_to_folder.loc[uuid_to_folder['folder'] == folder,'uuid'].values[0] for folder in isolate_to_uuid['Folder']]

In [12]:
# Only include valid UUIDs
isolate_to_uuid = isolate_to_uuid[[uuid in valid_uuids.uuid.values for uuid in isolate_to_uuid.uuid.values]].reset_index(drop = True)
# Add location info
isolate_to_uuid['ip'] = [valid_uuids.loc[valid_uuids['uuid'] == uuid, 'ip'].values[0] for uuid in isolate_to_uuid.uuid]
isolate_to_uuid['Location'] = [valid_uuids.loc[valid_uuids['uuid'] == uuid, 'location'].values[0] for uuid in isolate_to_uuid.uuid]

In [13]:
isolate_to_uuid

,Isolate,Folder,uuid,ip,Location
0,snps.filt,tbdata_00001444,3f8d4e743556559eaf9c81df0c50c05f,87.179.127.108,"Leipzig, Saxony, DE"
1,MFS-30_lib45960,tbdata_00001401,f09686a135dbd9a5380a5057fed51a9f,146.232.173.49,"Stellenbosch, Western Cape, ZA"
2,MFS-27_lib45957,tbdata_00001401,f09686a135dbd9a5380a5057fed51a9f,146.232.173.49,"Stellenbosch, Western Cape, ZA"
3,MFS-117_lib47296,tbdata_00001401,f09686a135dbd9a5380a5057fed51a9f,146.232.173.49,"Stellenbosch, Western Cape, ZA"
4,MFS-171_lib47350,tbdata_00001401,f09686a135dbd9a5380a5057fed51a9f,146.232.173.49,"Stellenbosch, Western Cape, ZA"
...,...,...,...,...,...
119,S0028_01_fastp,tbdata_00001446,bad1668f507742b459674d17134cb48d,146.232.173.49,"Stellenbosch, Western Cape, ZA"
120,S0008_01_fastp,tbdata_00001446,bad1668f507742b459674d17134cb48d,146.232.173.49,"Stellenbosch, Western Cape, ZA"
121,S0021_01_fastp,tbdata_00001446,bad1668f507742b459674d17134cb48d,146.232.173.49,"Stellenbosch, Western Cape, ZA"
122,S0024_01_fastp,tbdata_00001446,bad1668f507742b459674d17134cb48d,146.232.173.49,"Stellenbosch, Western Cape, ZA"
123,ERR1664619-3.sorted,tbdata_00001062,31eed51a42b4906e0f2ede82e0b46072,134.58.179.241,"Leuven, Flanders, BE"

In [14]:
ip_to_location

,ip,location,lat,lng,City,State/Region,Country,geometry,full_country,Continent
0,40.77.167.99,"Boydton, Virginia, US",36.6676,-78.3875,Boydton,Virginia,US,POINT (-78.3875 36.6676),United States,North America
1,40.77.167.67,"Boydton, Virginia, US",36.6676,-78.3875,Boydton,Virginia,US,POINT (-78.3875 36.6676),United States,North America
2,84.88.186.196,"Barcelona, Catalonia, ES",41.3888,2.1590,Barcelona,Catalonia,ES,POINT (2.159 41.3888),Spain,Europe
3,52.43.50.21,"Boardman, Oregon, US",45.8399,-119.7006,Boardman,Oregon,US,POINT (-119.7006 45.8399),United States,North America
4,145.255.74.252,"Muscat, Muscat, OM",23.5841,58.4078,Muscat,Muscat,OM,POINT (58.4078 23.5841),Oman,Asia
...,...,...,...,...,...,...,...,...,...,...
609,120.235.173.52,"Shenzhen, Guangdong, CN",22.5455,114.0683,Shenzhen,Guangdong,CN,POINT (114.0683 22.5455),China,Asia
610,51.158.108.61,"Paris, Île-de-France, FR",48.8534,2.3488,Paris,Île-de-France,FR,POINT (2.3488 48.8534),France,Europe
611,17.121.112.23,"Dearing, Kansas, US",37.0587,-95.7133,Dearing,Kansas,US,POINT (-95.7133 37.0587),United States,North America
612,207.244.224.209,"St. Louis, Missouri, US",38.6273,-90.1979,St. Louis,Missouri,US,POINT (-90.1979 38.6273),United States,North America
613,54.221.184.6,"Ashburn, Virginia, US",39.0437,-77.4875,Ashburn,Virginia,US,POINT (-77.4875 39.0437),United States,North America

In [30]:
isolate_to_location = isolate_to_uuid[['Isolate', 'Location']]
breakdown = isolate_to_location.Location.str.split(', ', expand = True)
breakdown.columns = ['City', 'State/Region', 'Abbrev_Country']
breakdown['Country'] = [pycountry.countries.get(alpha_2=str(country)).name for country in breakdown['Abbrev_Country']]

In [31]:
def country_to_continent(country_name):
    country_alpha2 = pc.country_name_to_country_alpha2(country_name)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name

breakdown['Continent'] = [country_to_continent(country) for country in breakdown['Country']]

location_to_lat_long = ip_to_location[['location', 'lat', 'lng']].drop_duplicates()
isolate_to_location['Latitude'] = [location_to_lat_long.loc[location_to_lat_long['location'] == location, 'lat'].values[0] for location in isolate_to_location.Location]
isolate_to_location['Longitude'] = [location_to_lat_long.loc[location_to_lat_long['location'] == location, 'lng'].values[0] for location in isolate_to_location.Location]

/tmp/ipykernel_23387/269174416.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isolate_to_location['Latitude'] = [location_to_lat_long.loc[location_to_lat_long['location'] == location, 'lat'].values[0] for location in isolate_to_location.Location]
/tmp/ipykernel_23387/269174416.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isolate_to_location['Longitude'] = [location_to_lat_long.loc[location_to_lat_long['location'] == location, 'lng'].values[0] for location in isolate_to_location.Location]

In [32]:
isolate_to_location = pd.concat([isolate_to_location[['Isolate', 'Location', 'Latitude', 'Longitude']], breakdown[['City', 'State/Region', 'Country', 'Continent']]], axis = 1)

In [34]:
isolate_to_location.to_csv('/home/kin672/gentb-summer22/Geography/ISOLATE_TO_LOCATION.csv', index = False)